<nav id="tf-footer">
    <div class="container">
        <div class="pull-left">
            <p>2021 © Awesomess. All Rights Reserved. Designed and Coded by <a
                    href="https://dribbble.com/jennpereira">Jenn</a> for <a
                    href="https://themeforces.com">ThemeForces.Com</a></p>
        </div>
        <div class="pull-right">
            <ul class="social-media list-inline">
                <li><a href="#"><span class="fa fa-facebook fa-2x"></span></a></li>
                <li><a href="#"><span class="fa fa-github fa-2x"></span></a></li>
                <li><a href="#"><span class="fa fa-whatsapp fa-2x"></span></a></li>
                <li><a href="#"><span class="fa fa-google-plus fa-2x"></span></a></li>
                <!-- <li><a href="#"><span class="fa fa-dribbble fa-2x"></span></a></li> -->
                <!-- <li><a href="#"><span class="fa fa-behance fa-2x"></span></a></li> -->
            </ul>
        </div>
    </div>
</nav>