<div id="tf-home">
    <div class="overlay">
        <div id="sticky-anchor"></div>
        <nav id="tf-menu" class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="index.html">Desarrollador Web</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#tf-home">Inicio</a></li>
                        <li><a href="#tf-service">Servicios</a></li>
                        <li><a href="#tf-about">Sobre mí</a></li>
                        <li><a href="#tf-portfolio">Portafolio</a></li>
                        <li><a href="#tf-contact">Contacto</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
            <div class="content">
                <img src="assets/img/williamp.png" alt="User Avatar"
                class="img-size-50 mr-3 img-circle wow animated zoomIn">
                <h1>WILLIAM PUMA</h1>
                <!-- <h3>que comunica, conecta e involucra a los clientes</h3> -->
                <br>
                <a href="#tf-contact" class="btn btn-primary my-btn">Contacto</a>
                <a href="#tf-portfolio" class="btn btn-primary my-btn2">Portafolio</a>
            </div>
        </div>
    </div>
</div>
